.Game-body {
  display: flex;
  background-color: rgb(248, 206, 153);
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  /* position: relative; */
}
.Game-canvasContainer {
  display: flex;
  background-color: rgb(248, 206, 153);
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: relative;
  border-style: solid;
  border-color: rgb(99, 55, 47);
}
